<div class="container">
    <div class="main-bar">
        <mat-icon class="option-icon">arrow_back</mat-icon>
        <h3 style="margin-left: 10px">Notes</h3>
    </div>
    <h1 class="note-heading">Note Name</h1>

    <mat-divider></mat-divider>

    <div class="note-details">
        <div class="note-history">
            <div class="note-detail-point">
                <h4 class="note-detail-header"><b>Created on:</b></h4>
                <p style="margin-left: 8px; font-size: 1.2em">
                    12th December 1945
                </p>
            </div>
            <div class="note-detail-point" style="margin-left: 25px">
                <h4 class="note-detail-header"><b>Last updated:</b></h4>
                <p style="margin-left: 8px; font-size: 1.2em">
                    12th December 1945
                </p>
            </div>
        </div>
        <mat-card class="note-content">
            <div>
                <p style="text-justify: auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Non tellus orci ac auctor augue.
                </p>
            </div>
        </mat-card>
        <div class="cred-data">
            <div class="cred-pass">
                <div class="heading-type">
                    <mat-icon style="margin-right: 10px">password</mat-icon>
                    <div class="type-header">Password</div>
                </div>
            </div>
        </div>
    </div>
</div>
