<div class="container">
    <h2 class="list-heading">Your Notes</h2>
    <mat-divider></mat-divider>

    <mat-list>
        <mat-card
            matRipple
            class="option-card clickable"
            (click)="onItemSelected()"
            *ngFor="let item of itemList; let i = index"
        >
            <div class="option-icon-date-container">
                <!-- <mat-icon class="option-icon">note_add</mat-icon> -->
                {{ i + 1 }}
            </div>

            <mat-card-header class="option-card-header">
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-subtitle>{{ item.updatedAt }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-list>
</div>
